.clear 			{ clear: both; }

.float-left 	{ float: left; }
.float-right 	{ float: right; }

.width-5 { width: 5px !important; }
.width-10 { width: 10px !important; }
.width-20 { width: 20px !important; }
.width-30 { width: 30px !important; }
.width-40 { width: 40px !important; }
.width-50 { width: 50px !important; }
.width-60 { width: 60px !important; }
.width-100 { width: 100px !important; }
.width-150 { width: 150px !important; }
.width-200 { width: 200px !important; }
.width-250 { width: 250px !important; }
.width-300 { width: 300px !important; }
.width-350 { width: 350px !important; }
.width-400 { width: 400px !important; }
.width-450 { width: 450px !important; }
.width-500 { width: 500px !important; }
.width-550 { width: 550px !important; }
.width-600 { width: 600px !important; }
.width-700 { width: 700px !important; }
.width-800 { width: 800px !important; }
.width-900 { width: 900px !important; }

.width-100p { width: 100% !important; }
.width-auto { width: auto !important; }

.height-5 { height: 5px !important; }
.height-10 { height: 10px !important; }
.height-15 { height: 15px !important; }
.height-20 { height: 20px !important; }
.height-30 { height: 30px !important; }
.height-40 { height: 40px !important; }
.height-50 { height: 50px !important; }
.height-70 { height: 70px !important; }
.height-100 { height: 100px !important; }
.height-150 { height: 150px !important; }
.height-200 { height: 200px !important; }
.height-250 { height: 250px !important; }
.height-300 { height: 300px !important; }
.height-350 { height: 350px !important; }
.height-400 { height: 400px !important; }
.height-450 { height: 450px !important; }
.height-500 { height: 500px !important; }
.height-550 { height: 550px !important; }
.height-650 { height: 650px !important; }
.height-700 { height: 700px !important; }
.height-100p { height: 100% !important; }
.height-auto { height: auto !important; }

.border-red 	{ border: solid 1px red; }
.border-dashed 	{ border-style: dashed; }
.no-border 		{ border: none !important; }

.bg-red 		{ background: #a71910; }
.bg-gray 		{ background: #f2f2f2; }

.display-block 		{ display: block; }
.display-inline 	{ display: inline; }
.inline-block 		{ display: inline-block; }
.display-none 		{ display: none; }

.padding 		{ padding: 10px; }
.margin 		{ margin: 10px; }
.no-margin 		{ margin: 0; }
.no-padding		{ padding: 0; }

.img-rounded {
	border-radius: 50%;
}


@media only screen and (min-width: 320px) and (max-width: 936px) {
	* {

	}

	.s-only 	{ display: none !important; }
	.m-padding 	{ padding: 10px;	}

	.mblock 		{ display: block !important; }
	.minline 		{ display: inline !important; }
	.minline-block 	{ display: inline-block !important; }
	.mdisplay-block	{ display: block !important; }
	.mdisplay-none 	{ display: none !important; }

	.mwidth-2 { width: 2px !important; }
	.mwidth-5 { width: 5px !important; }
	.mwidth-10 { width: 10px !important; }
	.mwidth-20 { width: 20px !important; }
	.mwidth-30 { width: 30px !important; }
	.mwidth-40 { width: 40px !important; }
	.mwidth-50 { width: 50px !important; }
	.mwidth-60 { width: 60px !important; }
	.mwidth-100 { width: 100px !important; }
	.mwidth-120 { width: 120px !important; }
	.mwidth-150 { width: 150px !important; }
	.mwidth-200 { width: 200px !important; }
	.mwidth-250 { width: 250px !important; }
	.mwidth-300 { width: 300px !important; }
	.mwidth-350 { width: 350px !important; }
	.mwidth-400 { width: 400px !important; }
	.mwidth-450 { width: 450px !important; }
	.mwidth-500 { width: 500px !important; }
	.mwidth-550 { width: 550px !important; }

	.mwidth-100p { width: 100% !important; }
	.mwidth-auto { width: auto !important; }

	.mheight-5 { height: 5px !important; }
	.mheight-10 { height: 10px !important; }
	.mheight-15 { height: 15px !important; }
	.mheight-20 { height: 20px !important; }
	.mheight-30 { height: 30px !important; }
	.mheight-40 { height: 40px !important; }
	.mheight-50 { height: 50px !important; }
	.mheight-60 { height: 60px !important; }
	.mheight-70 { height: 70px !important; }
	.mheight-100 { height: 100px !important; }
	.mheight-150 { height: 150px !important; }
	.mheight-200 { height: 200px !important; }
	.mheight-250 { height: 250px !important; }
	.mheight-300 { height: 300px !important; }
	.mheight-350 { height: 350px !important; }
	.mheight-400 { height: 400px !important; }
	.mheight-450 { height: 450px !important; }
	.mheight-500 { height: 500px !important; }
	.mheight-550 { height: 550px !important; }
	.mheight-650 { height: 650px !important; }
	.mheight-700 { height: 700px !important; }

	.mheight-100p { height: 100% !important; }
	.mheight-auto { height: auto !important; }


}
html, body {
	width: 100%;
	height: 100%;
}


@media only screen and (min-width: 320px) and (max-width: 936px) {
	* {

	}

	body, html {		
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

}.combobox {
	padding: 10px;
	border: solid 1px #fff;
	height: 40px;
}

.textbox {
	border: solid 2px #58595A;
	color: #58595A;
	padding: 14px 10px 10px 10px;
	font-size: 16px;

	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;

	margin-bottom: 10px;

	border-radius: 6px;
}

.textbox.full-width { 
	width: 100%; 
}

.textbox:focus {
	color: #005683;
	border-color: #005683;
}

.textbox.error { 
	border-color: #dc2b48; 
	background: #FFCDC8;
	color: #dc2b48;
}

.error::-webkit-input-placeholder 	{ color: #dc2b48; }
.error:-moz-placeholder 			{ color: #dc2b48; }
.error::-moz-placeholder 			{ color: #dc2b48; }
.error:-ms-input-placeholder 		{ color: #dc2b48; }

.textbox.valid {
	
}

.submit {
	cursor: pointer;
	width: 100%;
}

.textarea {
	height: 180px;
}

.label {
	font-size: 14px;
	font-weight: bold;
	color: #005683;
    text-transform: uppercase;	
    margin-right: 10px;
}

input[type="radio"], input[type="checkbox"] {
	margin-right: 6px;
	margin-left: 6px;
}

.msgbox {
	border: solid 1px blue;
	font-size: 14px;
	padding: 14px;
	border-radius: 4px;
	margin: 0 0 16px 0;
}

.msgbox.success {
	color: #214421;
	background: #D7ECCE;
	border-color: #CDE5BA;
}

.msgbox.info {
	color: #34708f;
	background: #daedf7;
	border-color: #bde8f0;
}

.msgbox.danger {
	color: #6F2627;
	background: #EFD6D6;
	border-color: #E5C0C7;
}

.msgbox.warning {
	color: #896d5d;
	background: #fcf9e3;
	border-color: #f9eccc;
}



.col-1  { float: left; width: 78px; min-height: 20px;  }
.col-2  { float: left; width: 156px; min-height: 20px; }
.col-3  { float: left; width: 234px; min-height: 20px; }
.col-4  { float: left; width: 312px; min-height: 20px; }
.col-5  { float: left; width: 390px; min-height: 20px; }
.col-6  { float: left; width: 468px; min-height: 20px; }
.col-7  { float: left; width: 546px; min-height: 20px; }
.col-8  { float: left; width: 624px; min-height: 20px; }
.col-9  { float: left; width: 702px; min-height: 20px; }
.col-10 { float: left; width: 780px; min-height: 20px; }
.col-11 { float: left; width: 858px; min-height: 20px; }
.col-12 { float: left; width: 936px; min-height: 20px; }

.row 	{ width: 936px; clear: both; margin: auto; }

.row.fluid {
	width: 100%;
}	

.row.fluid .col-1 	{ width: 8.33%; }
.row.fluid .col-2 	{ width: 16.66%;}
.row.fluid .col-3 	{ width: 25%; 	}
.row.fluid .col-4 	{ width: 33.33%;}
.row.fluid .col-5 	{ width: 41.66%;}
.row.fluid .col-6	{ width: 50%; 	}
.row.fluid .col-7 	{ width: 58.33%;}
.row.fluid .col-8 	{ width: 66.66%;}
.row.fluid .col-9 	{ width: 75%; 	}
.row.fluid .col-10 	{ width: 83.33%;}
.row.fluid .col-11 	{ width: 91.66%;}
.row.fluid .col-12 	{ width: 100%; 	}


@media only screen and (min-width: 320px) and (max-width: 936px) {
	* {

	}

	/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx DEFAULTS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

	.col-1 	{ width: 8.33%; }
	.col-2 	{ width: 16.66%; }
	.col-3 	{ width: 25%; }
	.col-4 	{ width: 33.33%; }
	.col-5 	{ width: 41.66%; }
	.col-6	{ width: 50%; }
	.col-7 	{ width: 58.33%; }
	.col-8 	{ width: 66.66%; }
	.col-9 	{ width: 75%; }
	.col-10 { width: 83.33%; }
	.col-11 { width: 91.66%; }
	.col-12 { width: 100%; }

	.mcol-1 	{ float: left; width: 8.33% !important; }
	.mcol-2 	{ float: left; width: 16.66% !important; }
	.mcol-3 	{ float: left; width: 25% !important; }
	.mcol-4 	{ float: left; width: 33.33% !important; }
	.mcol-5 	{ float: left; width: 41.66% !important; }
	.mcol-6		{ float: left; width: 50% !important; }
	.mcol-7 	{ float: left; width: 58.33% !important; }
	.mcol-8 	{ float: left; width: 66.66% !important; }
	.mcol-9 	{ float: left; width: 75% !important; }
	.mcol-10	{ float: left; width: 83.33% !important; }
	.mcol-11	{ float: left; width: 91.66% !important; }
	.mcol-12 	{ float: left; width: 100% !important; }

}ul li {
	margin: 0 !important;
	margin-bottom: -8px !important;
	margin-top: 0px !important;
}

ul.list-disc,
ul.list-disc li { 
    list-style: disc; 
    margin-left: 16px;
    line-height: 24px;
}

ul.list-disc.white,
ul.list-disc.white li {
	color: #fff;
}

.list-menu {

}

.list-menu-item {
	
}

.list-menu-item:last-child {
	border: none;
}


.list-menu {}

/* LIST-CARD */
.list-card {

}

.list-card.large {

}

/* INLINE */
.list-card.inline .list-card-item {
	width: 442px;
	height: 160px;
	float: left;
	margin: 20px 18px 20px 4px;
}

.list-card.inline .list-card-item .thumb {
	width: 200px;
	height: 145px;
	margin: 0 20px 50px 0;
	border: none;
}

.list-card.inline .list-card-item .title {
	margin-bottom: 4px;
	margin-top: -8px;
}



.list-card.inline .list-card-item .description {
	font-size: 17px;
	line-height: 18px;

}
/* INLINE */

/* COVER */
.list-card.cover {

}

.list-card.cover .list-card-item {
	width: 290px;
	height: 300px;
	overflow: hidden;
	float: left;
	margin: 10px;
	
}

.list-card.cover .list-card-item iframe {
	width: 290px !important;
	height: 280px !important;
}

.list-card.cover .list-card-item .overlay,
.list-card.cover .list-card-item .legend {
	width: 290px;
	height: 160px;
	background: rgba(195, 57, 48, .92);
	float: left;
	margin-top: -36px;
	position: relative;
	z-index: 999;

	-webkit-transition: all .20s ease-in;
	   -moz-transition: all .20s ease-in;
	    -ms-transition: all .20s ease-in;
	     -o-transition: all .20s ease-in;
	        transition: all .20s ease-in;
}

.list-card.cover .list-card-item .legend  {
	margin-top: -46px;
}

.list-card.cover .list-card-item:hover .legend * {
	color: #fff !important;
}

.list-card.cover .list-card-item .overlay .title {
	border-bottom: solid 2px rgba(195, 57, 48, .92);
	margin-bottom: 10px;
	padding-bottom: 4px;

	-webkit-transition: all .25s ease-out;
	   -moz-transition: all .25s ease-out;
	    -ms-transition: all .25s ease-out;
	     -o-transition: all .25s ease-out;
	        transition: all .25s ease-out;
}

.list-card.cover .list-card-item:hover .overlay {
	margin-top: -160px;
}

.list-card.cover .list-card-item:hover .overlay .title {
	border-color: rgba(255, 255, 255, .8);
}

.list-card.cover .list-card-item .thumb {
	width: 290px;
	height: 160px;
	border: none;
}

.list-card.cover .list-card-item .title {
	text-align: center;
	color: #ff8a00;
	text-transform: uppercase;
}

.list-card.cover .list-card-item .description, .list-card.cover .list-card-item .description * {
	padding: 4px 4px 4px 2px;
	color: #666;
	font-size: 15px;
}

.list-icon-item.cover:hover .icon, .list-icon-item.active .icon {
	
}

.list-card.cover .list-card-item:hover .title {
	color: #ff8a00;
}
/* COVER */

.list-card.large .list-card-item {
	clear: both;
	margin-bottom: 20px;
	margin-top: 20px;
	display: block;
	float: left;
	width: 100%;
}



.list-card-item {
	display: block;
	min-height: 124px;
	margin-bottom: 20px;
}

.list-card-item .thumb {
	width: 160px;
	height: 116px;
	float: left;
	border: solid 2px #b5b5b5;
	margin-right: 30px;
}

.list-card-item .title {
	margin-top: -10px;
	padding-top: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #6e7174;
}

.list-card-item .description {
	color: #959696;
	font-size: 15px;
}

.list-card-item:hover * {
	color: #c33930;
}

.list-card-item:hover .thumb {
	border-color: #c33930;
}

/* DESTAQUE */
.list-card-item.highlight .thumb {
	width: 446px;
	height: 274px;
}

.list-card-item.highlight .title {
	display: block;
	clear: both;
}
/* DESTAQUE */

/* LIST-CARD */

/* LIST-ICON */
.list-icon {
	text-align: center;
}

.list-icon-item {
	width: 136px;
	height: 140px;
	overflow: hidden;
	text-align: center;
	display: inline-block;

	-webkit-transition: all .15s ease-out;
	   -moz-transition: all .15s ease-out;
	    -ms-transition: all .15s ease-out;
	     -o-transition: all .15s ease-out;
	        transition: all .15s ease-out;
}

.list-icon-item:hover .icon, .list-icon-item.active .icon {
	background: #C91B32;
}

.list-icon-item:hover .title, .list-icon-item.active .title {
	color: #C91B32;
}

.list-icon-item .title, .list-icon-item .icon {
	-webkit-transition: all .15s ease-out;
	   -moz-transition: all .15s ease-out;
	    -ms-transition: all .15s ease-out;
	     -o-transition: all .15s ease-out;
	        transition: all .15s ease-out;
}

.list-icon-item .icon {
	border-radius: 50%;
	padding: 14px 0 0 0;
	width: 92px;
	height: 78px;
	background: #58595A;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
}

.list-icon-item .title {
	width: 100%;
	display: block;	
	float: left;
	clear: both;
	color: #58595A;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	min-height: 44px;

}
/* LIST-ICON */


.list-cover {}/*reset*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}a{padding:0;margin:0;}
body,div,p,a,strong,span,li,input,textarea{border:0;margin:0;padding:0;font-family:Arial;list-style:none;outline:none;}a{text-decoration:none;}button{outline:none;}@media only screen and (min-width: 936px) {
	.m-only {
	    display: none !important;
	}
}.table {
  border-collapse: separate;
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
}

.table td {
  padding: 10px 4px 10px 4px;
  font-size: 13px;
}

.table thead {

}

.table thead td {
  
}

.table tbody td {
  
}

td.v-align-middle   { vertical-align: middle; }
td.v-align-top      { vertical-align: top; }
td.v-align-bottom   { vertical-align: bottom; }
td.v-align-baseline { vertical-align: baseline; }
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,span,button,code,a,form,fieldset,legend,input,textarea,p,blockquote,th,td,tr,fieldset,address,caption,cite,code,dfn,em,strong,th,var,li,caption,th,h1,h2,h3,h4,h5,h6,abbr,acronym,sup,sub,input,textarea,select {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #545454;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

.txt-left       { text-align: left !important; }
.txt-right      { text-align: right; }
.txt-center     { text-align: center; }
.txt-justify    { text-align: justify; }

.txt-normal     { font-weight: normal; }
.txt-bold       { font-weight: bold; }
.txt-italic     { font-style: italic; }

.txt-small,     .txt-small *    { font-size: 12px !important; } 
.txt-normal,    .txt-normal *   { font-size: 13px !important; }
.txt-large,     .txt-large *    { font-size: 16px !important; }
.txt-xlarge,    .txt-xlarge *   { font-size: 18px !important; }
.txt-xxlarge,   .txt-xxlarge *  { font-size: 20px !important; }
.txt-xxxlarge,  .txt-xxxlarge *  { font-size: 24px !important; }
.txt-xxxxlarge,  .txt-xxxxlarge *  { font-size: 46px !important; }

.txt-uppercase  { text-transform: uppercase; }
.txt-lowercase  { text-transform: lowercase; }
.txt-capitalize { text-transform: capitalize; }

.txt-gray, .txt-gray *              { color: #4f4f4f !important; }
.txt-gray-light, .txt-gray-light *  { color: #cccccc !important; }
.txt-white, .txt-white *            { color: #fff !important; }
.txt-black, .txt-black *            { color: #000 !important;}

strong          { font-weight: bold !important; }

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}


@media only screen and (min-width: 320px) and (max-width: 936px) {
    .mtxt-left       { text-align: left; }
    .mtxt-right      { text-align: right; }
    .mtxt-center     { text-align: center; }
    .mtxt-justify    { text-align: justify; }

    .mtxt-small,     .mtxt-small *    { font-size: 11px !important; } 
    .mtxt-normal,    .mtxt-normal *   { font-size: 12px !important; }
    .mtxt-large,     .mtxt-large *    { font-size: 14px !important; }
    .mtxt-xlarge,    .mtxt-xlarge *   { font-size: 16px !important; }
    .mtxt-xxlarge,   .mtxt-xxlarge *  { font-size: 18px !important; }
    .mtxt-xxxlarge,  .mtxt-xxxlarge *  { font-size: 24px !important; }

}
.wp-content {

}

.wp-content img.alignleft {
	float: left;
	margin: 12px 25px 12px 0;
}

.wp-content img.alignright {
	float: right;
	margin: 12px 0px 12px 24px;
}

.wp-content ul li {
	list-style: circle !important;
	padding-top: 6px;
}

.wp-content ul {
	margin-left: 30px;
}