.clear 			{ clear: both; }

.float-left 	{ float: left; }
.float-right 	{ float: right; }

.width-5 { width: 5px !important; }
.width-10 { width: 10px !important; }
.width-20 { width: 20px !important; }
.width-30 { width: 30px !important; }
.width-40 { width: 40px !important; }
.width-50 { width: 50px !important; }
.width-60 { width: 60px !important; }
.width-100 { width: 100px !important; }
.width-150 { width: 150px !important; }
.width-200 { width: 200px !important; }
.width-250 { width: 250px !important; }
.width-300 { width: 300px !important; }
.width-350 { width: 350px !important; }
.width-400 { width: 400px !important; }
.width-450 { width: 450px !important; }
.width-500 { width: 500px !important; }
.width-550 { width: 550px !important; }
.width-600 { width: 600px !important; }
.width-700 { width: 700px !important; }
.width-800 { width: 800px !important; }
.width-900 { width: 900px !important; }

.width-100p { width: 100% !important; }
.width-auto { width: auto !important; }

.height-5 { height: 5px !important; }
.height-10 { height: 10px !important; }
.height-15 { height: 15px !important; }
.height-20 { height: 20px !important; }
.height-30 { height: 30px !important; }
.height-40 { height: 40px !important; }
.height-50 { height: 50px !important; }
.height-70 { height: 70px !important; }
.height-100 { height: 100px !important; }
.height-150 { height: 150px !important; }
.height-200 { height: 200px !important; }
.height-250 { height: 250px !important; }
.height-300 { height: 300px !important; }
.height-350 { height: 350px !important; }
.height-400 { height: 400px !important; }
.height-450 { height: 450px !important; }
.height-500 { height: 500px !important; }
.height-550 { height: 550px !important; }
.height-650 { height: 650px !important; }
.height-700 { height: 700px !important; }
.height-100p { height: 100% !important; }
.height-auto { height: auto !important; }

.border-red 	{ border: solid 1px red; }
.border-dashed 	{ border-style: dashed; }
.no-border 		{ border: none !important; }

.bg-red 		{ background: #a71910; }
.bg-gray 		{ background: #f2f2f2; }

.display-block 		{ display: block; }
.display-inline 	{ display: inline; }
.inline-block 		{ display: inline-block; }
.display-none 		{ display: none; }

.padding 		{ padding: 10px; }
.margin 		{ margin: 10px; }
.no-margin 		{ margin: 0; }
.no-padding		{ padding: 0; }

.img-rounded {
	border-radius: 50%;
}


@media only screen and (min-width: 320px) and (max-width: 936px) {
	* {

	}

	.s-only 	{ display: none !important; }
	.m-padding 	{ padding: 10px;	}

	.mblock 		{ display: block !important; }
	.minline 		{ display: inline !important; }
	.minline-block 	{ display: inline-block !important; }
	.mdisplay-block	{ display: block !important; }
	.mdisplay-none 	{ display: none !important; }

	.mwidth-2 { width: 2px !important; }
	.mwidth-5 { width: 5px !important; }
	.mwidth-10 { width: 10px !important; }
	.mwidth-20 { width: 20px !important; }
	.mwidth-30 { width: 30px !important; }
	.mwidth-40 { width: 40px !important; }
	.mwidth-50 { width: 50px !important; }
	.mwidth-60 { width: 60px !important; }
	.mwidth-100 { width: 100px !important; }
	.mwidth-120 { width: 120px !important; }
	.mwidth-150 { width: 150px !important; }
	.mwidth-200 { width: 200px !important; }
	.mwidth-250 { width: 250px !important; }
	.mwidth-300 { width: 300px !important; }
	.mwidth-350 { width: 350px !important; }
	.mwidth-400 { width: 400px !important; }
	.mwidth-450 { width: 450px !important; }
	.mwidth-500 { width: 500px !important; }
	.mwidth-550 { width: 550px !important; }

	.mwidth-100p { width: 100% !important; }
	.mwidth-auto { width: auto !important; }

	.mheight-5 { height: 5px !important; }
	.mheight-10 { height: 10px !important; }
	.mheight-15 { height: 15px !important; }
	.mheight-20 { height: 20px !important; }
	.mheight-30 { height: 30px !important; }
	.mheight-40 { height: 40px !important; }
	.mheight-50 { height: 50px !important; }
	.mheight-60 { height: 60px !important; }
	.mheight-70 { height: 70px !important; }
	.mheight-100 { height: 100px !important; }
	.mheight-150 { height: 150px !important; }
	.mheight-200 { height: 200px !important; }
	.mheight-250 { height: 250px !important; }
	.mheight-300 { height: 300px !important; }
	.mheight-350 { height: 350px !important; }
	.mheight-400 { height: 400px !important; }
	.mheight-450 { height: 450px !important; }
	.mheight-500 { height: 500px !important; }
	.mheight-550 { height: 550px !important; }
	.mheight-650 { height: 650px !important; }
	.mheight-700 { height: 700px !important; }

	.mheight-100p { height: 100% !important; }
	.mheight-auto { height: auto !important; }


}
